[submodule "brackets-src"]
	path = brackets-src
	url = https://github.com/adobe/brackets.git
[submodule "embedded-ext/new-project"]
	path = embedded-ext/new-project
	url = https://github.com/JeffryBooher/brackets-newproject-extension.git
