language: node_js
node_js:
- '0.11'
- '0.10'
before_install: npm install -g grunt-cli
deploy:
  provider: npm
  email: boyan@rabchev.com
  api_key:
    secure: bWt1wLTheu3LjIgmGciF/7X0dZyThMMnWi8TYBpSGNEH0/XzJGsOMeoF1j8aEfhFuM655l10JmOx+jGpWIfxCkHd0uuzDdr9rPiNNRwa5NZkmRWUbv23CCAS26N5/manbiwhpBbZQjCWxusGw24cuxDBaBlGGDkY8uAmIr6rPfE=
  on:
    tags: true
    repo: rabchev/brackets-server
    node: 0.10
    branch: master
