<div id="rfs-files-dialog" class="modal">
    <div class="modal-header">
        <h1 class="dialog-title">{{TITLE}}</h1>
    </div>
    <div class="modal-body">
        <label for="rfs-file-name">{{LABEL_FILE_NAME}}</label><input type="text" id="rfs-file-name" value="{{proposed}}" />
        <button id="rfs-create-folder" class="dialog-button btn right">{{BUTTON_CREATE_FOLDER}}</button>
        <div id="rfs-contents"></div>
    </div>
    <div class="modal-footer">
        <span id="rfs-save-name"></span>
        <button data-button-id="cancel" class="dialog-button btn cancel btn-80" >{{BUTTON_CANCEL}}</button>
        <button data-button-id="ok" class="dialog-button btn primary btn-80">{{BUTTON_SAVE}}</button>
    </div>
</div>
